@font-face {
    font-family: "Typograph";
    src: url("fonts/typo_bold.ttf");
}

@font-face {
    font-family: "Monserrat";
    src: url("fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Stanley";
    src: url("fonts/Stanley.ttf");
}

body{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 1600px;
    margin: 0;
    color: white;
    font-family: Helvetica, sans-serif;
    background: rgb(162,217,189);
    background: linear-gradient(315deg, rgba(162,217,189,1) 0%, rgba(185,208,178,1) 62%, rgba(217,195,162,1) 100%);    
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}

.maintitle{
    font-family: Stanley;
    font-size: 50pt;
}

.subtitle{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 15pt;
    animation-duration: 3s;
    animation-name: float;
    animation-iteration-count: infinite;
}

.header{
    height: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    font-family: "Monserrat";

}

.title{
    font-size: 15pt;
}

.secondpage{
    display: flex;
    min-height: 700px;
    background-color: rgb(51, 51, 51);
    flex-direction: column;
}

.page_title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 25pt;
    padding-top: 50px;
}

.page_article{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.page_article>div{
    margin-left: 20px;
    margin-right: 20px;
    min-width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.div2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    font-size: 15pt;
}

footer{
    background-color: #424242;
    min-height: 50px;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
}

.logos{
    display: flex;
    width: 100px;
    justify-content: space-between;
    
}

.logo_pic{
    height: 20px;
}


@media only screen and (max-width:716px) {



    footer{
        flex-direction: column;
        justify-content: space-around;
        padding:0px;
    }

    footer>div{
        display: none;
    }

    .logos{
        justify-content: center;
    }

    .logos>div{
        margin-right: 10px;
        margin-left: 10px;
    }

    .page_article{
        flex-direction: column;
        justify-content: space-around
    }
}

@media screen and (max-width:645px){

    .header{
        background-color: rgba(18, 151, 111, 0.123);
    }

    .div2{
        width: 200px;
    }

    .maintitle{
        font-size: 40px;
    }


}

@keyframes float{
    from{
        font-size: auto;
    }

    50%{
        font-size: larger;
    }

    to{
        font-size: auto;
    }
}

