@font-face {
    font-family: "Typograph";
    src: url("fonts/typo_bold.ttf");
}

@font-face {
    font-family: "Monserrat";
    src: url("fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Stanley";
    src: url("fonts/Stanley.ttf");
}

ul{
    margin: 0;
    padding: 0;
}

h1, h2, h3, p{
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

body{
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 1600px;
    margin: 0;
    color: white;
    font-family: Helvetica, sans-serif;
    background: rgb(162,217,189);
    background: linear-gradient(315deg, rgba(162,217,189,1) 0%, rgba(185,208,178,1) 62%, rgba(217,195,162,1) 100%);    

    background-size:cover;
    --headerheigth: 80px;
}

.middle{
    background-image: url(pictures/pexels-kelly-lacy-2453551.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.main_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: #2E8C5F;
    color: red;
}

.button:hover{
    cursor: pointer;
}

.button img{
    margin-top: 7px;
}

.maintitle{
    font-family: Stanley;
    font-size: 50pt;
}

.subtitle{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 15pt;
    font-family: typograph-light;
    letter-spacing: 1.5px;
}

.header{
    height: var(--headerheigth);
    min-height: var(--headerheigth);
    display: flex;
    justify-content: center;
    font-family: "typograph-light";
    position: fixed;
    width: 100%;
    background-color: #11221b;
    transition-property: background-color, color;
    transition-duration: 0.7s;
    z-index: 1;
}

.transparent{
    color: white;
    background-color: transparent;
}

.links{
    position: absolute;
    display: flex;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    right: 0;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.links ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    font-size: 18px;
}

.header a{
    text-decoration: none;
    color: white;
}

.header a:hover{
    color: rgb(214, 214, 214);
    transition: 0.2s;
}

.title{
    font-size: 15pt;
}

.secondpage{
    min-height: 700px;
    background-color: rgb(51, 51, 51);
}

.page_title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 25pt;
    padding-top: 50px;
}

.competences{
    height:200px;
    background-color: grey;
}

#book{

    background-color: rgb(51, 51, 51);
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 80px;
    padding-right: 80px;
    font-family: typograph-light;
}

#book h1{
    font-size: 30px;
    font-weight: bold;
}

#book p{
    font-size: 25px;
    margin-top: 50px;
    line-height: 50px;
}

.languages{
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 30px;
}

.lang_container{
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 18px;
}

.lang_container div{
    margin-right: 10px;
}

.lang_container div:nth-last-child(1){
    margin-right: 0px;
}

#portfolio{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.creation_container{
    height: 250px;
    width: 480px;
    background-color: red;
    margin-bottom: 10px;
    margin-right: 10px;
}

.creation_container img{

}

.creation_container:nth-child(3n){
    margin-right: 0;
}

.creation_container:nth-child(2n-1){
    background-color: rgb(180, 10, 10);
}
.page_article{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.page_article>div{
    margin-left: 20px;
    margin-right: 20px;
    min-width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.div2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15pt;
}

.div2>div{
    margin-right: 100px;
}

.div2>div:last-child{
    margin-right: 0;
}

.div2 img{
    width: 35px;
}

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(/pictures/Rectangle\ 6.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: typograph-light;
}

#contact h1{
    font-size: 40px;
}

#contact h2{
    font-size: 18px;
    margin-bottom: 20px;
}

.contact_container{
    display: flex;
    justify-content: center;
}

.contact_container form{
    display: flex;
    flex-direction: column;
    margin:0;
    align-items: center;
}

form input{
    background-color: inherit;
    border:none;
    font-family: typograph-light;
    color: white;
    font-size: 18px;
    width: inherit;
    margin-bottom: 3px;
}

::placeholder{
    opacity: 0.8;
}

.input_container{
    display: flex;
    width: 500px;
    flex-direction: column;
    margin-bottom: 40px;
}

.input_container:nth-child(3){
    margin-bottom: 0;
}

.input_container:nth-child(1){
    margin-top: 40px;
}

button{
    background-color: #6E9E76;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-family: typograph-light;
    font-size: 14pt;
    margin-top: 50px;
    color: white;
}

button:hover{
    cursor: pointer;
}

input:focus{
    outline: none;
}

footer{
    background-color: #111111;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
}

.logo_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height: 50px;
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 100%;
}

.logo_circle:hover{
    cursor: pointer;
}

.line{
    height: 1px;
    background-color: white;
    width: 100%;
}

.logos{
    width: 300px;
    display: flex;
    justify-content: space-between;
    
}

.logo_pic{
    height: 20px;
}

.secondpage:nth-child(2n){
    background-color: rgb(68, 68, 68);
}


@media only screen and (max-width:716px) {



    footer{
        flex-direction: column;
        justify-content: space-around;
        padding:0px;
    }

    footer>div{
        display: none;
    }

    .logos{
        justify-content: center;
    }

    .logos>div{
        margin-right: 20px;
        margin-left: 20px;
    }

    .page_article{
        flex-direction: column;
        justify-content: space-around
    }
}

@media screen and (max-width:645px){

    .div2>div{
        font-size: 13pt;
        margin-right: 15px;
    }

    .maintitle{
        font-size: 40px;
    }

    .subtitle{
        font-size: 12pt;
    }

    .links{
        min-width: 250px;
    }

    .button{
        height: 50px;
        width: 50px;
    }


}

@media screen and (max-width:680px){

    #book p {
        font-size: 18px;
    }

}

@media screen and (max-width:1478px){

    .creation_container:nth-child(3n){
        margin-right: 10px;
    }

    .creation_container:nth-child(2n){
        margin-right: 0;
    }

}

@media screen and (max-width:990px){

    .creation_container:nth-child(2n){
        margin-right: 10px;
    }

    .creation_container{
        margin-left: 10px;
    }

    #contact h1{
        font-size: 35px;
    }

}

@media screen and (max-width:520px){

    .creation_container{
        margin-left: 0;
        margin-right: 0;
        height: 220;
        width: auto;
    }

    .logo_circle{
        width: 40px;
        height: 40px;
    }

    .logo_circle img{
        width: 20px;
        height: 20px;
    }

    .creation_container img{
        height: inherit;
    }

    .creation_container:nth-child(2n){
        margin-right: 0;
    }

    .creation_container:nth-child(3n){
        margin-right: 0;
    }
    /* .creation_container{
        width: 430px;
    }

    .creation_container img{
        width: inherit;
    } */

    .input_container{
        width: 300px;
    }

    form input{
        font-size: 15px;
    }

}

@media screen and (max-width:425px){

    .creation_container{
        margin-left: 0;
        margin-right: 0;
        height: 180;
        width: auto;
    }


}

@media screen and (max-width:860px){

    .links{
        position: initial;
    }

    .div2{
        display: none;
    }

}

@keyframes float{
    from{
        font-size: auto;
    }

    50%{
        font-size: larger;
    }

    to{
        font-size: auto;
    }
}

